<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <style>
        input, textarea {
            display: block;
            margin-bottom: 20px;
            padding: 10px;
        }

        button {
            padding: 7px;
        }
    </style>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/user/<%= userId %> /posts/edit/<%= postId %>" method="post">
        <label for="">Caption</label>
        <textarea name="caption" id="" cols="30" rows="10"><%= data.caption %></textarea>

        <label for="">Image URL</label>
        <input type="text" name="imgUrl" value="<%= data.imgUrl %>">

        <button type="submit">Edit Post</button>
    </form>
</body>
</html>