<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Dose</title>
</head>
<body>
    <h1>Welcome To Cyber Dose</h1>
    <div>
        <p>Doesn't have an account ?, go register yourself by click the link down below !</p>
        <a href="/register">Register</a><br>

        <p>Have an account ?, click the link down below to login</p>
        <a href="/login">Login</a>


    </div>
</body>
</html>