<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        input, select {
            display: block;
            margin-bottom: 20px;
            padding: 10px;
            width: 200px;
        }

        select {
            width: 225px;
        }

        button {
            padding: 8px;
        }

        .back {
            font-size: 15px;
        }

        h1 {
            text-align: center;
            margin-top: 40px;
        }

        form {
            background-color: whitesmoke;
            width: fit-content;
            padding: 30px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Register Form</h1>
    <% if (errors) { %>
     <p style="color: red;"><%= errors %> </p>
    <% } %>
    <form action="/register" method="post">
        <label for="">Email</label>
        <input type="text" name="email" placeholder="Input your email !">
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Create your username !">
        <label for="">Password</label>
        <input type="text" name="password" placeholder="Create your password !">
        <label for="">Role</label>
        <select name="role" id="">
            <option value="" selected disabled>-- CHOOSE ROLE --</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
        <p class="back">Go back to the main page ?, click <a href="/">here</a></p>
        <button type="submit">Register</button>
    </form>
</body>
</html>